[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_OMIT_PATHS = ".next/**,.netlify/.next/**,public/documents/**,**/static/**,**/documents/**"
  SECRETS_SCAN_OMIT_KEYS = "CONTACT_EMAIL"
