[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_OMIT_PATHS = ".next/server/**,.next/cache/**,.netlify/.next/server/**,.netlify/.next/cache/**,**/server/**,**/cache/**"

